@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300&display=swap");

.hero-announcement {
  font-family: "Space Grotesk", sans-serif;
}

body {
  position: relative;
  overflow-x: hidden;
  min-height: 100%;
  height: 100%;
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  min-width: 320px;
  direction: ltr;
  font-feature-settings: "kern";
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  overscroll-behavior-y: contain;
}
body,
html {
  background-color: rgb(255, 255, 255);
  color: #111;
}
.hero {
  background: linear-gradient(0deg, rgb(255, 255, 255), rgba(255, 255, 255, 0)) rgb(208, 211, 212);
}
.hero-fade {
  content: "";
  position: absolute;
  left: 0px;
  width: 100%;
  z-index: 1;
  top: 250px;
  bottom: 0px;
  pointer-events: none;
  background: linear-gradient(rgba(217, 217, 217, 0) 0px, rgb(217, 217, 217) 20%, rgb(217, 217, 217) 40%, transparent 80%);
}
.prism-light-colorful {
  width: 900px;
  position: absolute;
  top: -72px;
  transform: translateY(-100px);
  color: transparent;
  opacity: 0;
  pointer-events: none;
  filter: blur(10px);
  animation: 0.8s ease 0s 1 normal forwards running hero_fadeIn__hoIwO;
  object-fit: cover;
  mask: url(/prism-mask.png) 0 0/cover;
  -webkit-mask:url(/prism-mask.png) 0 0/cover ; 
}
.tilt-card-glow {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-image: radial-gradient(circle at 50% -20%, #ffffff22, #0000000f);
  opacity: 0;
  transition: opacity 0.3s ease;
  mix-blend-mode: plus-lighter;
  z-index: 2;
}
.nextjs13-bg {
  background-image: radial-gradient(
    circle,
    #0141ff 0,
    rgba(161, 252, 70, 0) 71%
  );
  transform: scale(1.8);
  opacity: 0.15;
}
.turbo-bg {
  background: radial-gradient(circle, #ba1ee4 0, rgba(161, 252, 70, 0) 71%);
  opacity: 0.2;
  transform: scale(1.8);
}
.vercel-bg {
  background: radial-gradient(circle, #fff 0, rgba(161, 252, 70, 0) 71%);
  transform: scale(1.8);
  opacity: 0.15;
  transition: opacity 0.3s ease;
}
.announcement-subtext {
  background-image: linear-gradient(180deg, #555, #000);
  background-clip: "";
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.announcement-features {
  background-image: linear-gradient(
    90deg,
    transparent,
    rgba(0, 0, 0, 0.025) 50%,
    transparent
  );
}
@media (max-width: 1200px) and (min-width: 601px) {
  .nextjs-grid,
  .turbopack-grid,
  .vercel-grid {
    display: grid;
    min-height: 680px;
    perspective: 1500px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 2fr 1.4fr 0.2fr 1.4fr;
    grid-template-areas:
      "featured featured"
      "major-feat-0 minor-feat-1"
      "major-feat-0 major-feat-1"
      "minor-feat-0 major-feat-1";
  }
  .nextjs-grid .featured,
  .turbopack-grid .featured,
  .vercel-grid .featured {
    grid-column: 1 / span 2;
    grid-row: 1 / span 1;
  }
  .nextjs-grid .minor-feat-0,
  .turbopack-grid .minor-feat-0,
  .vercel-grid .minor-feat-0 {
    grid-column: 1 / span 1;
    grid-row: 4 / span 1;
  }
  .nextjs-grid .minor-feat-1,
  .turbopack-grid .minor-feat-1,
  .vercel-grid .minor-feat-1 {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
  }
  .nextjs-grid .major-feat-0,
  .turbopack-grid .major-feat-0,
  .vercel-grid .major-feat-0 {
    grid-column: 1 / span 1;
    grid-row: 2 / span 2;
  }
  .nextjs-grid .major-feat-1,
  .turbopack-grid .major-feat-1,
  .vercel-grid .major-feat-1 {
    grid-column: 2 / span 1;
    grid-row: 3 / span 2;
  }
  .announcement-features-subdiv {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
  }
}
@media (max-width: 640px) {
  .case-studies-box .slider-wrapper {
    width: 90%;
    max-width: 100%;
    height: auto;
    padding: 16px;
  }
  .customers-main .case-studies-box .content {
    width: 100%;
    justify-content: space-between;
    flex-direction: column;
  }
  .showcase-container-tablet .slide {
    flex-basis: 100%;
  }
  .newsletter-subscribe-main .content {
    display: grid;
    grid-template-columns: 1fr !important;
    gap: 1.8rem;
  }
  .newsletter-subscribe-main .content .title {
    text-align: center;
  }

  .newsletter-subscribe-main .content .email-form {
    text-align: center;
  }
}
@media (min-width: 1201px) {
  .nextjs-grid {
    display: grid;
    min-height: 680px;
    perspective: 1500px;
    grid-template-columns: 0.4fr 0.3fr 0.3fr;
    grid-template-rows: 1fr 0.15fr 1fr;
    grid-template-areas:
      "featured major-feat-0 minor-feat-1"
      "featured major-feat-0 major-feat-1"
      "featured minor-feat-0 major-feat-1";
  }
  .turbopack-grid {
    display: grid;
    min-height: 680px;
    perspective: 1500px;
    grid-template-columns: 0.3fr 0.4fr 0.3fr;
    grid-template-rows: 1fr 0.15fr 1fr;
    grid-template-areas:
      "minor-feat-1 featured major-feat-0 "
      "major-feat-1 featured major-feat-0 "
      "major-feat-1 featured minor-feat-0 ";
  }
  .vercel-grid {
    display: grid;
    min-height: 680px;
    perspective: 1500px;
    grid-template-columns: 0.3fr 0.3fr 0.4fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "major-feat-0 minor-feat-0 featured"
      "minor-feat-1 major-feat-1 featured ";
  }
}
@media (min-width: 640px) {
  .features-grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .features-card-more-on-desktop {
    display: hidden;
  }
  .features-card-hide-on-desktop {
    display: flex;
  }
}
@media (min-width: 960px) {
  .features-grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  .features-card-more-on-desktop {
    display: block;
  }
  .features-card-hide-on-desktop {
    display: none;
  }
  .showcase-container-desktop {
    display: block;
  }
  .showcase-container-tablet {
    display: none;
  }
}
@media (max-width: 800px) {
  .footer-grid{
    grid-template-columns: 1fr 1fr;
  }
  
}
@media (max-width: 890px) {
  .Nextjs-Learn-Btn, .github-icon{
    display: none;
  }
  .desktop-navItems {
    display: none;
  }
  .mobile-menu {
    display: flex;
  }
}
@media (max-width: 1020px) {
  .Nextjs-Feedback-Btn {
    display: none;
  }
}
@media (max-width: 600px){
  .turbopack-grid .minor-feat-0 {
    height: 20%;
  }
}
.announcement-link::after {
  content: "";
  position: absolute;
  inset: 0;
  background: white;
  transition: white 0.15s;
  z-index: -1;
}

.announcement-features::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(0, 0, 0, 0.05) 50%,
    transparent
  );
}
.announcement-features::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(0, 0, 0, 0.05) 50%,
    transparent
  );
}
.badge::before {
  content: "";
  position: absolute;
  inset: -1px;
  border-radius: inherit;
  padding: 1px;
  background-image: linear-gradient(
    170deg,
    rgba(0, 0, 0, 0.2) -6.28%,
    rgba(0, 0, 0, 0.4) 9.84%,
    #000 38.59%,
    rgba(0, 0, 0, 0.4) 66.93%,
    transparent 122.67%
  );
  /* -webkit-mask: linear-gradient(#000,#000) content-box,linear-gradient(#000,#000); */
  mask: linear-gradient(#000, #000) content-box, linear-gradient(#000, #000);
  /* -webkit-mask-composite: xor; */
  mask-composite: exclude;
}

@keyframes hero_fadeIn__hoIwO {
  100% {
    filter: blur(0px);
    opacity: 1;
  }
}
.Nextjs-Conf-Btn::before {
  position: absolute;
  content: "";
  width: 150px;
  height: 80px;
  top: -25%;
  left: -25%;
  background-image: conic-gradient(#666666 20deg, transparent 120deg);
  border-radius: 10px;
}
.Nextjs-Conf-Btn::after {
  content: "";
  width: 95%;
  height: 95%;
  background-color: white;
  position: absolute;
  top: 3%;
  left: 3%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1px;
}
.btn::before {
  position: absolute;
  content: "";
  width: 300px;
  height: 200px;
  top: -25%;
  left: -25%;
  background-image: conic-gradient(#666666 20deg, transparent 120deg);
  border-radius: 9999px;
}
.btn::after {
  content: "";
  width: 95%;
  height: 95%;
  background-color: white;
  position: absolute;
  top: 3%;
  left: 3%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 9999px;
}
.react-framework-main::after,
.react-framework-main .main-subdiv::after,
.features-main::after,
.features-main .features-list::after,
.customers-main::after,
.learn-main::after,
.newsletter-subscribe-main::after {
  content: "";
  display: table;
  clear: both;
}
.showcase-container-tablet .overlay {
  background-image: linear-gradient(
    to bottom,
    rgba(250, 250, 250, 0) 30%,
    rgba(250, 250, 250, 0.7) 90%,
    rgba(250, 250, 250, 1) 100%
  );
}
.newsletter-subscribe-main .content {
  display: grid;
  grid-template-columns: 1fr 0.8fr;
}
